# OS folders and files
.DS_Store
Thumbs.db

#Code editors files
.idea
*.sublime.*
.vscode

# auxiliary folders and files
/node_modules
*.log*

#Webpack files (bundle)
public/js/bundle.js
public/js/bundle.js.map

